/**
 * 2.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */

/* Clearing floats */
.clear:after,
#access:after,
.site-main:after {
	clear: both;
}

.clear:before,
.clear:after,
#access:after,
.site-main:after {
	content: "";
	display: table;
}

/* Assistive text */
.screen-reader-text {
	clip: rect(0.063em, 0.063em, 0.063em, 0.063em);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 0.188em;
	box-shadow: 0 0 0.125em 0.125em rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875em;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 0.938em 1.438em 0.875em;
	position: absolute;
	left: 0.313em;
	top: 0.313em;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
	outline: 0;
}

/* Form fields, general styles first. */
button,
input,
textarea {
	font-family: inherit;
	padding: .45em;
}

input,
textarea {
	background: $body-background-lightened;
	color: #444;
}

input:focus,
textarea:focus {

}

/* Buttons */ 
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	display: inline-block;
	text-decoration: none;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	outline: none;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
}


/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: $body-color-lightened;
}

:-moz-placeholder {
	color: $body-color-lightened;
}

::-moz-placeholder {
	color: $body-color-lightened;
}

:-ms-input-placeholder {
	color: $body-color-lightened;
}

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
img {
	max-width: 100%;
	height: auto;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}

/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 0 1.250em 0.313em 0;
}

.wp-caption.alignleft {
	margin: 0 0.625em 0.313em 0;
}

img.alignright {
	margin: 0 0 0.313em 1.250em;
}

.wp-caption.alignright {
	margin: 0 0 0.313em 0.625em;
}

img.aligncenter {
	//margin: 0.313em auto;
}

img.alignnone {
	//margin: 0.313em 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	color: $body-color-lightened;
	@include adjust-font-size-to(18px); 
	font-style: italic;
	font-weight: 300;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
	list-style-position: inside;
}


