


/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */

/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */

.branding {
	padding-top: 6em; 
	padding-bottom: 3.7em;
}

.site-title {
    font-family: $header-font;
    @include adjust-font-size-to(34px);
    font-weight: bold;
}

.site-title a {
	color: $body-color;
	text-decoration: none;
	
	&:active, &:hover {
		color: $link-color;
	}
}

.tagline {
	color: $body-color-lightened;
	@include adjust-font-size-to(16px);
	font-style: italic;
	margin: .4em 0;
	font-weight: normal;
	font-family: $body-font;
}


/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */

#access,
.menu li { 
	background: #eee;
}

.menu .current_page_item, .menu  .current-menu-item {
	background: $body-background;
}


